@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Sen:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --txt: #000;
    --txt2: #919191;
    --txt3: #5252ff;
    --txt4: #333;
    --txt5: #444;
    --btn-txt: #fff;
    --navbg: #fff;
    --bg: #fff;
    --contbg:#f5f5f5;
    --btn-bg: #5252ff;
    --shadow: #999;
    --input: #eeeeee;
}

[data-theme="dark"] {
    --txt: #fff;
    --txt2: #a8a8a8;
    --txt4: #f1f1f1;
    --txt5: #bbbbbb;
    --navbg: #1E1F26;
    --contbg:#1b1b1b;
    --bg: #121212;
    --shadow: #000;
    --input:#2b2b2b;
}

body a {
    text-decoration: none;
}

body p {
    color: var(--txt5);
}
body{
    overflow-x: hidden;
}
#progress {
    background-color: var(--txt3);
    height:4px;
    border-radius:2px;
    width:0;
    position:fixed;
    top:0;
    left:0;
    z-index: 4;
}




/* ********** Navbar ********** */
header {
    position: absolute;
    width: 100%;
    height: 60px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    z-index: 3;
    transition: 0.5s;
}

header .logo {
    color: var(--txt);
    font-size: 21px;
    font-weight: 600;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    color: var(--txt);
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Sen', sans-serif;
}

header ul li a:hover {
    color: var(--txt3);
}

.focus {
    color: var(--txt3);
}

header .toggle {
    display: none;
}

/*Apply styles after scroll*/
/* .scrolling-active {
    box-shadow: 0 0 4px var(--shadow);
} */

/* ********** THEME TOGGLE ********** */
.theme-switch {
    display: flex;
    align-items: center;
}

.theme-switch i {
    margin: 0 7px 0 13px;
    color: var(--txt);
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"] {
    background: #5252ff;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

input:checked[type="checkbox"]::before {
    left: 20px;
}

/* ********** HOME ********** */
#home {
    background: var(--bg);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px ;
    height:100vh;
}

#home .content {
    margin-right: 60px;
}

#home h5 {
    color: var(--txt3);
    font-size: 20px;
    font-weight: 600;
}

#home h1 {
    color: var(--txt);
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    padding: 30px 0;
}

#home p {
    line-height: 22px;
    margin-bottom: 50px;
}

#home .social-icons i {
    padding-right: 25px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--txt2);
    font-size: 20px;
}

#home .social-icons i:hover {
    cursor: pointer;
    color: var(--txt3);
}

#home .hero {
    width:50%;
}
/* ********** ABOUT ********** */
#skills {
    background: var(--bg);
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skills .content {
    padding-right: 80px;
}

#skills h5 {
    color: var(--txt3);
    font-size: 20px;
    font-weight: 600;
}

#skills h1 {
    color: var(--txt);
    font-weight: 700;
    font-size: 50px;
    padding: 10px 0 20px;
}

#skills .content p {
    margin-bottom: 30px;
}

#skills .btn i {
    margin-right: 10px;
    font-size: 14px;
}

#skills a {
    border: 2px solid var(--txt3);
    background: var(--txt3);
    color: var(--btn-txt);
    border-radius: 3px;
    font-weight: 500;
    padding: 8px 16px;
    font-size: 15px;
}

#skills a:hover {
    background: var(--bg);
    color: var(--txt3);
}

.skillbar {
    width: 500px;
    margin-bottom: 20px;
}

.skillbar .skill-name {
    display: flex;
    justify-content: space-between;
}

.skillbar .skill-name h6 {
    font-size: 15px;
    padding-bottom: 10px;
    color: var(--txt);
}

.skillbar .htmlbar,
.cssbar,
.jsbar,
.psbar,
.acbar {
    width: 100%;
    height: 6px;
    background: #D9D9D9;
    border-radius: 10px;
}

.skillbar .htmlbar div,
.cssbar div {
    width: 90%;
    height: 100%;
    background: #5252ff;
    border-radius: 10px;
}

.skillbar .jsbar div,
.psbar div,
.acbar div {
    width: 85%;
    height: 100%;
    background: #5252ff;
    border-radius: 10px;
}

/* ********** SERVICES ********** */
#services {
    background: var(--bg);
    padding: 50px 100px;
}

#services .content {
    text-align: center;
}

#services h5 {
    color: var(--txt3);
    font-size: 20px;
    font-weight: 600;
}

#services h1 {
    color: var(--txt);
    font-weight: 700;
    font-size: 50px;
    padding: 10px 0 20px;
}

#services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#services .container .box {
    position: relative;
    width: 320px;
    padding: 100px 40px 40px;
    margin: 30px 0;
    box-shadow: 0 0 5px var(--shadow);
}

#services .container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5252ff;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
}

#services .container .box:hover::before {
    transform: scaleY(1);
    transform-origin: top;
    transition: 0.5s;
}

#services .container img {
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

#services .container .box:hover img {
    opacity: 1;
    color: #fff;
    transform: translateY(-30px);
}

#services .container .box h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: var(--txt4);
    transition: 0.5s;
}

#services .container .box p {
    position: relative;
    ;
    color: var(--txt5);
    margin-top: 10px;
    z-index: 2;
    transition: 0.5s;
}

#services .container .box:hover h3,
#services .container .box:hover p {
    color: #fff;
}

/* ********** WORKS ********** */
#works {
    width: 100%;
    background: var(--bg);
    padding: 50px 0px;
}

#works .content {
    width: 100%;
    margin-right: 20px;
    text-align: center;
}

#works h5 {
    color: var(--txt3);
    font-size: 20px;
    font-weight: 600;
}

#works h1 {
    color: var(--txt);
    font-weight: 700;
    font-size: 50px;
    padding: 10px 0 20px;
}

.owl-carousel div {
    width: 100%;
}

.item {
    width: 50%;
    display: flex;
    justify-content: center;
}


/* ********** CONTACT ********** */
#contact {
    background: var(--bg);
    padding: 50px 100px;
   
}

#contact .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:100px;
}

#contact h1 {
    color: var(--txt);
    font-weight: 700;
    font-size: 50px;
    padding: 10px 0 20px;
}

#contact .form p {
    text-align: center;
    padding-bottom:20px;
    width:500px;
}

#contact .form i {
    color:var(--txt);
}

#contact input, textarea {
    width:300px;
    padding:10px;
    margin:10px 0px;
    background:var(--input);
    border-radius:3px;
    border:none;
    box-sizing: border-box;
    color:var(--text);
}

#contact .form .submit {
    background:#5252ff;
    color:var(--btn-txt);
}

#contact .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#contact .me {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 9px #000;
}

#contact .content-1 img {
    margin-bottom: 5px;
}

#contact .content-1 p {
    line-height: 20px;
    font-size:15px;
}

#contact .content-1 .logo {
    color: var(--txt);
    font-size: 23px;
    font-weight: 600;
    margin-bottom:40px;
}

#contact .container .content-2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

#contact .content-2 a {
    padding-left: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--txt);
    font-size: 20px;
}

#contact .content-2 a:hover {
    cursor: pointer;
    color: var(--txt3);
}

#contact .content-2 p {
    font-size:15px;
    margin-top: 15px;
}

#contact input[type="text"]:focus, textarea:focus {
    color:var(--txt);
}

.is-invalid {
    color:red;
    font-size:13px;
    text-align: center;
}

.wrong {
    border:1px solid #fd2f2f !important;
}
.right {
    border:1px solid #4ccc4c !important;
}


/* Media Querys */

@media (max-width: 992px) {
    header {
        padding: 0 50px;
    }

    header ul {
        position: absolute;
        top: -900px;
        left: 0;
        width: 100%;
        height: auto;
        padding: 20px 0px;
        overflow: hidden;
        border-bottom: 1px solid #999;
        background: var(--navbg);
        flex-direction: column;
        transition: .5s;
        transform: translateY(-100px);
        opacity: 0;
    }

    header.active ul {
        top: 60px;
        transform: translateY(0);
        opacity: 1;
        background: var(--bg);
    }

    header ul li {
        margin: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    header ul li a {
        margin: 5px 0;
        font-size: 18px;
    }

    header .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .theme-switch {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .toggle::before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: var(--txt);
        z-index: 1;
        box-shadow: 0 10px 0 var(--txt);
        transition: 0.4s;
    }

    .toggle::after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: var(--txt);
        z-index: 1;
        transition: 0.4s;
    }

    header.active .toggle::before {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: none;
    }

    header.active .toggle::after {
        bottom: 14px;
        transform: rotate(-45deg);
    }

    #home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 100px 50px 50px;
    }

    #home .hero {
        width: 100%;
        margin-top: 50px;
    }

    #home p img {
        width: 20px;
    }

    #skills {
        display: block;
        padding: 600px 50px 50px;
    }

    #skills .content {
        padding-right: 0px;
    }

    .skillbar {
        width: 100%;
    }

    #skills .content-2 {
        margin-top: 50px;
    }

    .swiper-slide img {
        padding: 50px 0;
    }

    #services .container {
        display: flex;
        justify-content: center;
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #contact .container .content-2 {
        display: flex;
        align-items: center;
    }

}

@media (max-width:600px) {
    header {
        padding: 0 20px;
    }

    header ul li a {
        margin: 5px 0;
        font-size: 15px;
    }

    #home .content {
        margin-right: 0;
    }

    #home .social-icons {
        display: flex;
        justify-content: space-evenly;
    }

    #skills {
        display: block;
        padding: 250px 20px 50px;
    }

    #home,
    #services,
    #contact {
        padding: 100px 20px 40px;
    }

    #home h5,
    #skills h5,
    #services h5,
    #works h5 {
        font-size: 18px;
    }

    #home h1,
    #skills h1,
    #services h1,
    #works h1{
        font-size: 33px;
    }

    #home p,
    #skills p,
    #works p,
    #contact p {
        font-size: 15px;
    }

    #home .social-icons i {
        padding-right: 0;
    }

    #skills .content p {
        padding-bottom: 10px;
    }

    #skills .info-1 {
        display: block;
    }

    #skills .info-1 p,
    .info-2 p {
        padding: 10px 0;
    }

    #skills .info-1 {
        padding: 0;
    }

    #services .container {
        display: flex;
        justify-content: center;
    }

    #works p {
        padding: 0;
        margin-bottom: 20px;
    }

    .swiper-slide {
        height: 100px;
    }

    .swiper-slide img {
        padding: 20px 0;
    }

    #contact .container {
        display: block;
    }

    #contact h1 {
        font-size: 28px;
    }

    #contact .form p {
        width:100%;
    }

    #contact .container .content-1 {
        text-align: center;
    }

    #contact .content-2 {
        width:100%;
        text-align: center;
        padding: 20px 0;
        display: flex;
        align-items: center;
    }

    #contact .container .content-2 a {
        padding: 0;
        margin: 0 20px;
    }

    #contact .content-2 .social-icons {
        display: inline;
    }
}